In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## Задание 0

Для всех  заданий будем использовать обезличенные транзакционные банковские данные. Для этого считайте в переменные **tr_mcc_codes, tr_types, transactions и gender_train** из одноимённых таблиц из папки data. Для таблицы transactions используйте только первые n=1000000 строк. Обратите внимание на разделители внутри каждого из файлов - они могут различаться!

###  Описание данных
#### Таблица ```transactions.csv```
##### Описание
Таблица содержит историю транзакций клиентов банка за один год и три месяца.

##### Формат данных

```
customer_id,tr_datetime,mcc_code,tr_type,amount,term_id
111111,15 01:40:52,1111,1000,-5224,111111
111112,15 15:18:32,3333,2000,-100,11122233
...
```
##### Описание полей

 - ```customer_id``` — идентификатор клиента;
 - ```tr_datetime``` — день и время совершения транзакции (дни нумеруются с начала данных);
 - ```mcc_code``` — mcc-код транзакции;
 - ```tr_type``` — тип транзакции;
 - ```amount``` — сумма транзакции в условных единицах со знаком; ```+``` — начисление средств клиенту (приходная транзакция), ```-``` — списание средств (расходная транзакция);
 - ```term_id``` — идентификатор терминала;


#### Таблица ```gender_train.csv```

##### Описание
Данная таблица содержит информацию по полу для части клиентов, для которых он известен. Для остальных клиентов пол неизвестен.

##### Формат данных
```
customer_id,gender
111111,0
111112,1
...
```

##### Описание полей
 - ```customer_id``` — идентификатор клиента;
 - ```gender``` — пол клиента;

### Таблица ```tr_mcc_codes.csv```

##### Описание
Данная таблица содержит описание mcc-кодов транзакций.

##### Формат данных
```
mcc_code;mcc_description
1000;словесное описание mcc-кода 1000
2000;словесное описание mcc-кода 2000
...
```

##### Описание полей
 - ```mcc_code``` – mcc-код транзакции;
 - ```mcc_description``` — описание mcc-кода транзакции.

#### Таблица ```tr_types.csv```

##### Описание
Данная таблица содержит описание типов транзакций.

##### Формат данных
```
tr_type;tr_description
1000;словесное описание типа транзакции 1000
2000;словесное описание типа транзакции 2000
...
```

##### Описание полей
 - ```tr_type``` – тип транзакции;
 - ```tr_description``` — описание типа транзакции;

In [ ]:
tr_mcc_codes = pd.read_csv(filepath_or_buffer = "/content/drive/My Drive/Colab Notebooks/LR2_Pandas/Data/tr_mcc_codes.csv",
           sep = ';')
tr_mcc_codes

     mcc_code                                    mcc_description
0         742                                Ветеринарные услуги
1        1711  Генеральные подрядчики по вентиляции, теплосна...
2        1731                        Подрядчики по электричеству
3        1799  Подрядчики, специализированная торговля — нигд...
4        2741           Разнообразные издательства/печатное дело
..        ...                                                ...
179      9211  Судовые выплаты, включая алименты и детскую по...
180      9222                                             Штрафы
181      9311                                  Налоговые платежи
182      9399  Правительственные услуги, нигде ранее не класс...
183      9402             Почтовые услуги — только правительство

[184 rows x 2 columns]

In [ ]:
tr_types = pd.read_csv(filepath_or_buffer = "/content/drive/My Drive/Colab Notebooks/LR2_Pandas/Data/tr_types.csv",
           sep = ';')
tr_types

     tr_type                                     tr_description
0       3200  Плата за предоставление услуг посредством моби...
1       3210  Плата за предоставление отчета по счету карты ...
2       3800  Плата за обслуживание банковской карты (за пер...
3       4000            Плата за получение наличных в Сбербанке
4       4001  Плата за получение наличных в Сбербанке (в дру...
..       ...                                                ...
150     2990                             Списание по требованию
151     2992  Списание средств для погашения задолженности п...
152     3001            Комиссия за обслуживание ссудного счета
153     3030  Плата за обслуживание банковской карты (за пос...
154     3120                Плата за досрочный перевыпуск карты

[155 rows x 2 columns]

In [ ]:
transactions = pd.read_csv(filepath_or_buffer = "/content/drive/My Drive/Colab Notebooks/LR2_Pandas/Data/transactions.csv",
           sep = ',',
           nrows = 1000000)
transactions

        customer_id   tr_datetime  mcc_code  tr_type    amount   term_id
0          39026145    0 10:23:26      4814     1030  -2245.92       NaN
1          39026145    1 10:19:29      6011     7010  56147.89       NaN
2          39026145    1 10:20:56      4829     2330 -56147.89       NaN
3          39026145    1 10:39:54      5499     1010  -1392.47       NaN
4          39026145    2 15:33:42      5499     1010   -920.83       NaN
...             ...           ...       ...      ...       ...       ...
999995     98801178  269 10:29:06      5921     1010 -23016.59    127873
999996     98801178  270 10:26:45      5211     1010 -61380.88  10114209
999997     98801178  270 15:18:53      5921     1010 -11800.27  10105341
999998     98801178  271 12:47:13      5211     1010 -16170.59  10114209
999999     98801178  271 14:51:56      5921     1010 -10025.77    123991

[1000000 rows x 6 columns]

In [ ]:
gender_train = pd.read_csv(filepath_or_buffer = "/content/drive/My Drive/Colab Notebooks/LR2_Pandas/Data/gender_train.csv",
           sep = ',')
gender_train

      customer_id  gender
0        10928546       1
1        69348468       1
2        61009479       0
3        74045822       0
4        27979606       1
...           ...     ...
8395     90417572       0
8396     66837341       0
8397     10758984       1
8398     11376556       0
8399     29190649       0

[8400 rows x 2 columns]

## Задание 1

---

1. В tr_types выберите произвольные 1000 строк с помощью метода sample
2. В полученной на предыдущем этапе подвыборке найдите долю транзакций (стобец tr_description), в которой содержится подстрока 'POS' или 'ATM'

In [ ]:
import random
tr_types_1000 = tr_types.sample(1000, replace = True)
tr_types_1000

     tr_type                                     tr_description
4       4001  Плата за получение наличных в Сбербанке (в дру...
98      1010                              Покупка. POS ТУ СБ РФ
126     2352                Погашение кредита с карты через АТМ
24      4100                Плата за получение наличных. Россия
4       4001  Плата за получение наличных в Сбербанке (в дру...
..       ...                                                ...
113     2210                       Наличные.  АТМ Зарубеж. банк
27      4210        Плата за получение наличных в АТМ. Зарубеж.
42      7015  Взнос наличных через АТМ (в других ТБ) по счет...
109     2021  Выдача наличных через POS Сбербанка (в других ТБ)
42      7015  Взнос наличных через АТМ (в других ТБ) по счет...

[1000 rows x 2 columns]

In [ ]:
share_of_transactions = tr_types_1000.loc[tr_types_1000.tr_description.str.contains('POS' or 'АТМ')].count()[0] / len(tr_types_1000)
print('Задание 1:',share_of_transactions)

Задание 1: 0.179

## Задание 2

1. Для поля tr_type датафрейма transactions посчитайте частоту встречаемости всех типов транзакций tr_type в transactions.
2. Выведите топ-10 транзакций по частоте встречаемости.

In [ ]:
frequency = pd.DataFrame(data=(tr_types['tr_description'] , (transactions['tr_type'].value_counts())/len(transactions)))
top_10 = frequency.sort_values(by='tr_type', ascending=False).head(10)
print('Задание 2')
top_10

KeyError: ignored

## Задание 3
1. В датафрейме transactions найдите клиента с максимальной суммой приходов на карту
2. В датафрейме transactions найдите клиента с максимальной суммой расходов по карте
3. Найдите разницу для этих клиентов между суммой расходов и суммой приходов

In [ ]:
customer_id_amount = transactions[['customer_id','amount']]

In [ ]:
transactions_income = customer_id_amount[customer_id_amount.amount > 0]
transactions_outgo = customer_id_amount[customer_id_amount.amount < 0]

In [ ]:
transactions_income_total = transactions_income.groupby('customer_id').sum()
transactions_outgo_total = transactions_outgo.groupby('customer_id').sum()

In [ ]:
max_income = transactions_income_total['amount'].max()
max_outgo = transactions_outgo_total['amount'].min()

In [ ]:
max_income_customer = transactions_income_total[transactions_income_total.amount == max_income]
print('Задание 3.1:', max_income_customer.index[0])

Задание 3.1: 70780820

In [ ]:
max_outgo_customer = transactions_outgo_total[transactions_outgo_total.amount == max_outgo]
print('Задание 3.2:', max_outgo_customer.index[0])

Задание 3.2: 70780820

In [ ]:
difference = (abs(max_income) - abs(max_outgo))
print('Задание 3.3:', difference)

Задание 3.3: -1837317.979973793

Вывод: сумма расходов превышает сумму приходов

## Задание 4
1. Найдите среднее арифметическое и медиану по всем типам транзакций из топ 10 из задания 2
1. Найдите среднее арифметическое и медиану по всем типам транзакций для клиентов из задания 3

In [ ]:
def task_4_1():
  for i in range(0,len(top_10.index)): 
    transaction_type = transactions[(transactions.tr_type == top_10.index[i]) &
                                    (transactions.customer_id == max_income_customer.index[0])]
    print('Среднее арифметическое для транзакции', top_10.index[i], 'равно', transaction_type.amount.mean())
    print('Медиана для транзакции', top_10.index[i], 'равна', transaction_type.amount.median())
  return
print('Задание 4.1: ')
task_4_1()

Задание 4.1:
Среднее арифметическое для транзакции 1010 равно nan
Медиана для транзакции 1010 равна nan
Среднее арифметическое для транзакции 2010 равно -2941055.8709415505
Медиана для транзакции 2010 равна -3368873.66
Среднее арифметическое для транзакции 7070 равно 13848.205232082266
Медиана для транзакции 7070 равна 8714.15
Среднее арифметическое для транзакции 1110 равно nan
Медиана для транзакции 1110 равна nan
Среднее арифметическое для транзакции 1030 равно nan
Медиана для транзакции 1030 равна nan
Среднее арифметическое для транзакции 2370 равно -2218504.987086618
Медиана для транзакции 2370 равна -2245915.77
Среднее арифметическое для транзакции 7010 равно nan
Медиана для транзакции 7010 равна nan
Среднее арифметическое для транзакции 7030 равно 14061.955241583857
Медиана для транзакции 7030 равна 8848.91
Среднее арифметическое для транзакции 7071 равно 18600.572007692284
Медиана для транзакции 7071 равна 12543.439999999999
Среднее арифметическое для транзакции 1100 равно nan
Медиана для транзакции 1100 равна nan

In [ ]:
customer = transactions[transactions.customer_id == max_income_customer.index[0]]
print('Задание 4.2:')
print('Среднее арифметическое для клиента', max_income_customer.index[0], 'по всем транзакциям равно:', customer.amount.mean())
print('Медиана для клиента', max_income_customer.index[0], 'по всем транзакциям равна', customer.amount.median())

Задание 4.2:
Среднее арифметическое для клиента 70780820 по всем транзакциям равно: -20.694945765418275
Медиана для клиента 70780820 по всем транзакциям равна 8803.99

In [ ]:
print('Задание 4.2:')
print('Среднее арифметическое каждой транзакции для клиента', max_income_customer.index[0],)
customer.groupby('tr_type').amount.mean()

Задание 4.2:
Среднее арифметическое каждой транзакции для клиента 70780820

tr_type
2010   -2.941056e+06
2330   -2.382398e+06
2370   -2.218505e+06
6110    1.756293e+04
7020    1.465129e+04
7021    2.850067e+04
7030    1.406196e+04
7031    1.921036e+04
7034    1.430648e+04
7040    2.153833e+04
7070    1.384821e+04
7071    1.860057e+04
7074    2.281159e+04
Name: amount, dtype: float64

In [ ]:
print('Задание 4.2:')
print('Медиана каждой транзакции для клиента', max_income_customer.index[0],)
customer.groupby('tr_type').amount.median()

Задание 4.2:
Медиана каждой транзакции для клиента 70780820

tr_type
2010   -3368873.660
2330   -2245915.770
2370   -2245915.770
6110      10028.010
7020      10319.985
7021      28500.670
7030       8848.910
7031      12992.620
7034      14306.480
7040      14396.320
7070       8714.150
7071      12543.440
7074       9387.930
Name: amount, dtype: float64

## Подготовка для заданий 5-8

*Из заданий 5-8 нужно выполнить минимум два любых*

Соедините transactions с всеми остальными таблицами (tr_mcc_codes, tr_types, gender_train). Причём с gender_train необходимо смёрджиться с помощью left join, а с оставшимися датафреймами - через inner.
После получения результата таблицы gender_train, tr_types, tr_mcc_codes можно удалить. В результате соединения датафреймов должно получиться 999584 строки.

In [ ]:
transactions = pd.merge(transactions, gender_train, how='left')
transactions = pd.merge(transactions, tr_mcc_codes, how='inner')
transactions = pd.merge(transactions, tr_types, how='inner')
transactions.shape

(999584, 9)

In [ ]:
transactions

        customer_id  ...                  tr_description
0          39026145  ...  Оплата услуги. Банкоматы СБ РФ
1          39026145  ...  Оплата услуги. Банкоматы СБ РФ
2          39026145  ...  Оплата услуги. Банкоматы СБ РФ
3          39026145  ...  Оплата услуги. Банкоматы СБ РФ
4          39026145  ...  Оплата услуги. Банкоматы СБ РФ
...             ...  ...                             ...
999579     36837532  ...      Возврат  покупки. ТУ СБ РФ
999580      6808459  ...      Возврат  покупки. ТУ СБ РФ
999581     83759123  ...      Возврат  покупки. ТУ СБ РФ
999582     89619970  ...      Возврат  покупки. ТУ СБ РФ
999583     89619970  ...      Возврат  покупки. ТУ СБ РФ

[999584 rows x 9 columns]

## Задание 5

1. Определите модуль разницы между средними тратами женщин и мужчин (трата - отрицательное значение amount).
2. Определите модуль разницы между средними поступлениями у мужчин и женщин

Обратите внимание, что для вычисления модуля разности точных знаний о том, 
какой класc относится к мужчинам, а какой - к женщинам, не требуется.

In [ ]:
amount_outgo_0 = transactions[(transactions.gender == 0) & (transactions.amount < 0)]
amount_outgo_1 = transactions[(transactions.gender == 1) & (transactions.amount < 0)]

In [ ]:
task_5_1 = abs(abs(amount_outgo_0.amount.mean()) - abs(amount_outgo_1.amount.mean()))
print('Задание 5_1:', task_5_1)

Задание 5_1: 32718.05492021877

In [ ]:
amount_income_0 = transactions[(transactions.gender == 0) & (transactions.amount > 0)]
amount_income_1 = transactions[(transactions.gender == 1) & (transactions.amount > 0)]

In [ ]:
task_5_2 = abs(abs(amount_income_0.amount.mean()) - abs(amount_income_1.amount.mean()))
print('Задание 5_2:', task_5_2)

Задание 5_2: 63366.57104801515

## Задание 6

1. По всем типам транзакций рассчитайте максимальную сумму прихода на карту (из строго положительных сумм по столбцу amount) отдельно для мужчин и женщин (назовите ее "max_income"). Оставьте по 10 транзакций для мужчин и для женщин, наименьших среди всех транзакций по полученным значениям "max_income". 
2. Выделите среди них те, которые встречаются одновременно и у мужчин, и у женщин

In [ ]:
income_transactions = transactions[transactions.amount > 0]
groups_gender_tr = income_transactions.groupby(['gender','tr_type']).amount.sum().unstack()

In [ ]:
print('Задание 6.1:')
max_income_for_0 = groups_gender_tr.T.nsmallest(10, 0)[0]
max_income_for_0

Задание 6.1:

tr_type
4051     1122.96
4110     2245.92
4210     2245.92
2370     2335.75
7075     6737.75
2110    22459.16
1010    31532.66
4100    40334.88
2210    68315.82
1210    83644.87
Name: 0.0, dtype: float64

In [ ]:
print('Задание 6.1:')
max_income_for_1 = groups_gender_tr.T.nsmallest(10, 1)[1]
max_income_for_1

Задание 6.1:

tr_type
2020      2245.92
4110      4491.84
1010     35317.03
8100     64682.37
6000     79280.83
7041     87590.72
2370    113194.15
7015    121279.45
2110    179673.26
2010    224591.59
Name: 1.0, dtype: float64

In [ ]:
print('Задание 6.2:')
pd.merge(max_income_for_0, max_income_for_1, on='tr_type')

Задание 6.2:

              0.0        1.0
tr_type
4110      2245.92    4491.84
2370      2335.75  113194.15
2110     22459.16  179673.26
1010     31532.66   35317.03

## Задание 7

1. Найдите суммы затрат по каждой категории для мужчин и для женщин. 
2. Найдите топ 5 категорий с самыми большими относительными модулями разности для в тратах для разных полов.

In [ ]:
outgo_transactions = transactions[transactions.amount < 0]
groups_gender_outgo = outgo_transactions.groupby(['gender','tr_type']).amount.sum().unstack()

In [ ]:
print('Задание 7.1:')
groups_gender_outgo.T.head()

Задание 7.1:

gender            0.0           1.0
tr_type
1010    -1.287016e+09 -1.333577e+09
1030    -1.785984e+08 -1.687521e+08
1100    -1.721452e+08 -1.958989e+08
1110    -1.099093e+09 -1.355166e+09
1200    -7.891774e+07 -1.745330e+08

In [ ]:
print('Задание 7.2:')
top_5 = abs(groups_gender_outgo.T[0] - groups_gender_outgo.T[1]).nlargest(5)
top_5.keys()

Задание 7.2:

Int64Index([2010, 2370, 2330, 2371, 2331], dtype='int64', name='tr_type')

## Задание 8

1. Из поля tr_datetime выделите час tr_hour, в который произошла транзакция, как первые 2 цифры до ":". (\**)
2. Посчитайте ночные поступления для мужчин и женщин. Ночные - это примерно 00-06 часов.

In [ ]:
transactions.insert(1, 'tr_hour', transactions['tr_datetime'].apply(lambda x: x.split()[1].split(':')[0]))
print('Задание 8.1:')
transactions['tr_hour'] = pd.to_numeric(transactions['tr_hour'])
transactions

Задание 8.1:

        customer_id  ...                  tr_description
0          39026145  ...  Оплата услуги. Банкоматы СБ РФ
1          39026145  ...  Оплата услуги. Банкоматы СБ РФ
2          39026145  ...  Оплата услуги. Банкоматы СБ РФ
3          39026145  ...  Оплата услуги. Банкоматы СБ РФ
4          39026145  ...  Оплата услуги. Банкоматы СБ РФ
...             ...  ...                             ...
999579     36837532  ...      Возврат  покупки. ТУ СБ РФ
999580      6808459  ...      Возврат  покупки. ТУ СБ РФ
999581     83759123  ...      Возврат  покупки. ТУ СБ РФ
999582     89619970  ...      Возврат  покупки. ТУ СБ РФ
999583     89619970  ...      Возврат  покупки. ТУ СБ РФ

[999584 rows x 10 columns]

In [ ]:
night_transaction_0 = transactions[(transactions['gender'] == 0) & 
                                   (transactions['tr_hour'] < 6) &
                                   (transactions['amount'] >= 0)]
night_transaction_1 = transactions[(transactions['gender'] == 1) & 
                                   (transactions['tr_hour'] < 6) &
                                   (transactions['amount'] >= 0)]

In [ ]:
print('Задание 8.2:')
print('Количество ночных транзакций для пола 0:', night_transaction_0.amount.sum())
print('Количество ночных транзакций для пола 1:', night_transaction_1.amount.sum())

Задание 8.2:
Количество ночных транзакций для пола 0: 435476125.62
Количество ночных транзакций для пола 1: 688769673.17